<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="/images/2026_logo.ico" type="image/x-icon">
    <title>Lifts - Build your discord bot easier</title>
</head>
<body>
    <nav>
        <div class="content">
            <div class="header">
                <div class="logo">
                    <h1>Lifts</h1>
                    <span>Beta</span>
                </div>
            </div>
            <div class="center">
                <a class="btn" href="/wiki" target="_blank" rel="noopener noreferrer">Wiki</a>
                <a class="btn" href="/about" target="_blank" rel="noopener noreferrer">About us</a>
                <a class="btn" href="/terms" target="_blank" rel="noopener noreferrer">Terms</a>
            </div>
            <div class="footer">
                <a class="btn" href="https://github.com/lawynnn" target="_blank" rel="noopener noreferrer"><i class='bx bxl-github'></i></a>
                <a class="btn" href="https://discord.gg/KUPpN2yYSc" target="_blank" rel="noopener noreferrer"><i class='bx bxl-discord-alt' ></i></a>
                <a class="btn" href="https://twitter.com/LiftsDBB" target="_blank" rel="noopener noreferrer"><i class='bx bxl-twitter' ></i></a>
                
                {{#if user}}
                <a class="dash sign-in" href="/dashboard"><i style="margin-right: 0;" class='bx bxs-dashboard'></i></a>
                <a class="logout sign-in" href="/logout"><i style="margin-right: 0;" class='bx bx-log-out-circle' ></i></a>
                {{else}}
                <a class="sign-in" href="/auth/discord"><i class='bx bxl-discord-alt' ></i> Sign in</a>
                {{/if}}
            </div>
        </div>
    </nav>

    <div class="page1">
        <div class="light" style="left: 150px;top: 150px;"></div>
        <div class="split">
            <div class="left">
                <h1>Make your <strong>dream</strong> discord bot without Einstein knowledge</h1>
                <span>Flexible, fast and simple discord bot designer & maker</span>
                <div class="buttons">
                    <a href="/auth/discord"><i class='bx bx-right-arrow-alt'></i> Get started</a>
                </div>
            </div>
            <div class="right">
                <img src="/images/Command create widget.svg" alt="">
            </div>
        </div>
        <div class="list">
            <div class="card">
                <div class="header">
                    <i class='bx bx-carousel' ></i>
                    <h3>Flexible</h3>
                </div>
                <div class="footer">
                    <span>With our flexible programming language you can very easily design your discord bot in just a few steps</span>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <i class='bx bx-cloud-lightning' ></i>
                    <h3>Fast</h3>
                </div>
                <div class="footer">
                    <span>We provide a super fast and easy to use command compiler</span>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <i class='bx bx-data' ></i>
                    <h3>Dataset</h3>
                </div>
                <div class="footer">
                    <span>We provide a fast dataset to use in your commands</span>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <i class='bx bx-stats' ></i>
                    <h3>Status</h3>
                </div>
                <div class="footer">
                    <span>You can also change your discord bot status with whatever you like</span>
                </div>
            </div>
        </div>
    </div>
    <div class="page2">
        <div class="light" style="right: 150px;bottom: -200px;"></div>
    </div>
    <div class="page-footer">
        
    </div>
</body>
</html>