@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Jost:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --g-bg: rgb(23, 23, 27);
    --g-bg-sec: rgb(32, 37, 40);
    --g-bg-third: #0d0f11;
    --g-primary: #737ee6;
    --g-secondary: #ff7982;
    --g-txt: #e9eef6;
    --g-txt-sec: #6e727c;
    --g-gold: #e6ab73;

    --g-active: #95BE8F;
    --g-inactive: #CD5555;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body,
html {
    background: var(--g-bg);
    overflow: hidden;
    height: 100vh;
    box-sizing: border-box;
}

button {
    outline: none;
    border: 0;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

/* TOP NAVIGATION */

.top-nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background: red; */
}

.top-nav .header {
    width: 500px;
    height: 100%;
    margin-left: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top-nav .header h2 {
    color: white;
}



.top-nav .header span {
    color: var(--g-txt-sec);
    margin-left: 15px;
    display: block;
    text-align: center;
    text-transform: lowercase;
}

.top-nav .header span[data-sid="yes"] {
    font-size: 12px;
    color: rgba(255, 255, 255, .3);
}

.top-nav .footer {
    margin-right: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top-nav .footer img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-left: 10px;
}

.top-nav .footer span {
    color: var(--g-txt-sec);
}

.top-nav .footer strong {
    color: white;
}

/* LEFT NAVIGATION */

.left-nav {
    /* background: yellow; */
    position: absolute;
    left: 0;
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 15px 5px 15px;
}

.left-nav .header {
    display: block;
}

.left-nav .header .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 40px; */
    height: 80px;
}

.left-nav .header .logo h3 {
    color: var(--g-txt);
}

.left-nav .header .logo h3::first-letter {
    padding: 2px 7px;
    border-radius: 5px;
    /* border: 1px dotted var(--g-primary); */
    color: var(--g-primary);
    font-size: 25px;
    /* margin-right: 10px; */
}

.left-nav .header .content {
    display: flex;
    flex-direction: column;
}

.left-nav .header .content .bots {
    width: 100%;
    height: clamp(350px, 50%, 500px);
    overflow: auto;
}

.left-nav .header .content .bots .btn {
    width: 100%;
}

.left-nav .btn {
    padding: 15px 5px;
    color: var(--g-txt-sec);
    text-align: center;
    font-size: 14px;
    /* margin-top: 5px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all .25s;
}

.left-nav .btn:hover:not(.active) {
    color: var(--g-txt);
}

.left-nav .btn:hover:not(.active) box-icon {
    color: white;
}

.left-nav .btn span {
    font-size: 12px;
    color: rgba(255, 255, 255, .2);
}

.left-nav .btn .col {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.left-nav .btn img {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.left-nav .bot span {
    margin-left: 5px;
}

box-icon {
    margin: 0 10px 0 20px;
    font-size: 16px;
    width: 20px;
}

.left-nav .active {
    border-radius: 5px;
    background: var(--g-bg-third);
    color: var(--g-primary);
}

.left-nav .footer {
    padding-bottom: 20px;
}

/* BOTLIST */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

.botlist {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-self: center;
    align-items: center;
    display: grid;
    overflow: auto;
    grid-template-columns: auto auto auto;
    border-radius: 15px;
}

.botlist .bot {
    /* align-self: center; */
    width: 332px;
    height: 250px;
    background: #2D2D34;
    border-radius: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 10px;
    transition-duration: .2s;
}



.botlist .bot:hover {
    transition-duration: .5s;
    transform: scale(1.05);
    filter: brightness(1.25);
}

.botlist .bot .header {
    /* background: red; */
    height: 73px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.botlist .bot .header img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    vertical-align: middle;
}

.botlist .bot .header .title {
    display: block;
    margin-left: 15px;
}

.botlist .bot .header .title h5 {
    color: white;
    font-size: 20px;
    font-weight: normal;
}

.botlist .bot .header .title span {
    color: var(--g-txt-sec);
    font-size: 13px;
}

.sep {
    background: rgba(255, 255, 255, .15);
    border-radius: 0px;
}

.horizontal {
    height: 1px;
    width: 100%;
}

.botlist .bot .footer {
    /* background: blue; */
    height: 100%;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.botlist .bot .footer .title {
    color: #727272;
    font-size: 14px;
    margin-bottom: 5px;
}

.botlist .bot .footer .statistics {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.botlist .bot .footer .statistics .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.botlist .bot .footer .statistics .row span {
    color: white;
    font-size: 14px;
}

.botlist .bot .footer .statistics .row span.count {
    text-align: center;
}

.botlist .bot .footer .statistics .row .stats-view {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--g-inactive);
    display: flex;
}

.botlist .bot .footer box-icon {
    margin: 0;
    vertical-align: middle;
    margin-right: 5px;
}

.nav {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav .header {
    margin-left: 15px;
}

.nav .header h4 {
    color: white;
    font-size: 25px;
}

.nav .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav .footer img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.nav .footer .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.nav .footer .col span {
    color: var(--g-txt-sec);
    font-size: 14px;
}

.nav .footer .col span strong {
    color: white;
}

.botlist .options-container {
    border-radius: 15px;
    width: 332px;
    height: 250px;
    padding: 15px;
    margin: 10px;
}

@media (max-width: 1200px) {
    .container .botlist {
        grid-template-columns: auto;
        margin-top: 50px;
    }

    .botlist .bot:last-child {
        margin-bottom: 100px;
    }

    .container .content {
        height: 100%;
    }
}

top-nav {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: filter .5s;
    font-size: clamp(14px, 2vw, 18px);
}

nav-item:hover {
    filter: brightness(.5);
}

.loading-screen {
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--g-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-screen img {
    width: 65px;
    height: 65px;
    animation: loading 2s infinite;
}

@keyframes loading {
    0% {
        filter: brightness(.5);
        transform: scale(1.1);
    }
    50% {
        filter: brightness(1);
        transform: scale(1);
    }
    100% {
        filter: brightness(.5);
        transform: scale(1.1);
    }
}

.loading-screen .loader {
    width: 200px;
    height: 8px;
    overflow: hidden;
    border-radius: 10px;
    background: rgba(255, 255, 255, .25);
}

.loading-screen .loader .inner-loader {
    width: 0%;
    height: 100%;
    background: white;
    transition: all .5s;
}