.command-root {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.command-root .command-container {
    width: clamp(400px, 80%, 1000px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.command-root .command-container .header {
    margin-top: 25px;
    width: 100%;
    text-align: left;
}

.command-root .command-container .header a {
    text-decoration: none;
    color: rgb(175, 175, 175);
    font-size: 1rem;
    margin-left: 15px;
}

.command-root .command-container form {
    margin-top: 100px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.command-root .command-container form .control-area {
    width: 100%;
}

.command-root .command-container form .control-area .title {
    width: 100%;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid rgb(19, 47, 76);
    background-color: #06101a;
    padding: 5px 0px;
    border-bottom: 0px;
}

.command-root .command-container form .control-area .title span {
    width: 100%;
    text-align: center;
    color: white;
    
}

.command-root .command-container form .control-area .area {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.command-root .command-container form .control-area .area #counter {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    border: 1px solid rgb(19, 47, 76);
    background-color: rgb(1, 14, 27);
    padding: 10px 8px;
    border-top: none;
    border-right: none;
    border-end-start-radius: 5px;
    font-size: clamp(.5rem, 1vw, 1rem);
}

.command-root .command-container form .control-area .area #counter span {
    color: rgb(185, 185, 185);
    font-family: Consolas,monaco,monospace; 
    font-size: .9rem;
    margin-top: 2.4px;
}

.command-root .command-container form .control-area .area #_script {
    width: 100%;
    min-height: 50px;
    border: 1px solid rgb(19, 47, 76);
    background-color: rgb(5, 29, 54);
    height: auto;
    border-radius: 0px 0px 5px 0px;
    color: white;
    padding: 10px;
    font-size: 1rem;
    outline: none;
    font-family: Consolas,monaco,monospace; 
    resize: none !important;
    overflow-x: hidden;
    overflow-y: hidden;
}

.command-root .command-container form .actions {
    align-items: center;
    justify-content: right;
    width: 99.9%;
}