.dash-root {
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dash-root .dash-container {
    width: clamp(400px, 80%, 800px);
    display: flex;
    flex-direction: column;
}

.dash-root .dash-container .dash-header {
    /* background: rgb(10, 25, 41); */
    background: rgb(0, 30, 60);

    border-radius: 10px;
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    border: 1px solid rgb(19, 47, 76);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dash-root .dash-container .dash-header .left h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin: 0;
}


.dash-root .dash-container .dash-header .left h2 span {
    color: #1976d2;
    font-size: 0.8rem;
    font-weight: normal;
    text-transform: uppercase;
    margin-left: 5px;
}

.dash-root .dash-container .dash-header .right button {
    text-decoration: none;
    color: #fff;
    font-size: .9rem;
    background: transparent;
    border: none;
    outline: none;
}

.dash-root .dash-container .dash-header .right button i {
    margin-right: 5px;
}

.dash-root .dash-container .dash-content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dash-root .dash-container .dash-content .not-found {
    width: clamp(200px, 90%, 350px);
    height: clamp(200px, 90%, 350px);
    opacity: .75;
    margin-top: 70px;
}

.modal-dark {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: var(--col-bg);
    background-clip: padding-box;
    border: 1px solid rgb(19, 47, 76);
    outline: 0;
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
}

.modal-dark .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-dark .content form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-dark .content form .token {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.modal-dark .not-loading {
    display: none;
}

.modal-dark .content form .token .div-to {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:#06101a;
    height: 36px;
    padding: 0 10px;
    border: 1px solid rgb(19, 47, 76);
    border-right: 0px;
    text-align: center;
    border-radius: 3px 0px 0px 3px;
    text-decoration: none;
}

.modal-dark .content form .token .div-to div {
    color: #fff;
    font-size: .8rem;
    text-transform: uppercase;
}

.modal-dark .content form .token .div-to:hover {
    background: #091725;
}

.modal-dark .content form .token[data-loading="true"] .div-loader {
    background:#06101a;
    padding: 5px;
    border: 1px solid rgb(19, 47, 76);
    border-left: 0px;
    text-align: center;
    border-radius: 0px 3px 3px 0px;
}

.modal-dark .content form .token[data-loading="false"] .div-loader {
    display: none;
}

.modal-dark .content form .token #loader, .modal-dark .content form .token #loader-2 {
    color: white;
    font-size: .9rem;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.modal-dark .content form .token[data-loading="true"] input[type="password"] {
    width: 100%;
    background-color: #06101a;
    border: 1px solid rgb(19, 47, 76);
    outline: none;
    padding: 5px 10px;
    color: white;
    border-right: 0px;
    border-radius: 0;
}

.modal-dark .content form .token[data-loading="false"] input[type="password"] {
    width: 100%;
    background-color: #06101a;
    border: 1px solid rgb(19, 47, 76);
    outline: none;
    padding: 5px 10px;
    color: white;
    border-radius: 0px 3px 3px 0px;
}

.modal-dark .content form .right {
    width: 99.99%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-top: 15px;
}

.modal-dark .content form .right button {
    text-decoration: none;
    color: white;
    font-size: .9rem;
    background: transparent;
    border: none;
    outline: none;
}

.modal-dark .content h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin: 0;
    margin-bottom: 15px;
}

.modal-dark .content h2 span {
    color: #1976d2;
    font-size: 0.8rem;
    font-weight: normal;
    text-transform: uppercase;
    margin-left: 5px;
}

.dash-content .dash-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.dash-content .dash-list .bot-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    background: rgb(0, 30, 60);
    border: 1px solid rgb(19, 47, 76);
    border-radius: 5px;
}

.dash-content .dash-list .error {
    background: rgba(255, 0, 0, .15);
    border: 1px solid rgb(124, 30, 30);
}

.dash-content .dash-list .bot-card .bot-header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 15px;
}

.dash-content .dash-list .bot-card .bot-header img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}

.dash-content .dash-list .bot-card .bot-header .columns {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.dash-content .dash-list .bot-card .bot-header .columns .top h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    margin: 0;
}

.dash-content .dash-list .bot-card .bot-header .columns .bot-under {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.dash-content .dash-list .bot-card .bot-header .columns .bot-under span {
    font-size: 0.8rem;
    font-weight: normal;
    color: rgb(201, 201, 201);
    margin: 0;
}

.dash-content .dash-list .bot-card .bot-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}



.dash-content .dash-list .bot-card .bot-actions button {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    background: transparent;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 2px;
    transition: background .3s;
}

.dash-content .dash-list .bot-card .bot-actions form {
    border: 1px solid rgb(0, 49, 97);
}

.dash-content .dash-list .bot-card .bot-actions button:hover {
    background: rgb(0, 32, 85);
}

.dash-content .dash-list .bot-card .bot-actions form.delete button:hover {
    background: #531b1b;
} 

.dash-content .dash-list .bot-card .bot-actions form.edit {
    border-left: none;
    border-radius: 0;
}

.dash-content .dash-list .bot-card .bot-actions form.delete {
    border-radius: 0;
}

.dash-content .dash-list .bot-card .bot-actions form:first-child {
    border-right: 0;
    border-radius: 3px 0px 0px 3px;
}

.dash-content .dash-list .bot-card .bot-actions form:last-child {
    border-left: 0;
    border-radius: 0px 3px 3px 0px;
}

.dash-content .dash-list .online img {
    box-shadow: rgba(45, 214, 3, 0.3) 0px 0px 0px 3px;
}

.dash-content .dash-list .offline img {
    box-shadow: rgba(214, 3, 3, 0.3) 0px 0px 0px 3px;
}

.dash-content .dash-list .error .bot-actions button {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    background: transparent;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 2px;
    transition: background .3s;
}

.dash-content .dash-list .error .bot-actions form {
    border: 1px solid rgb(97, 0, 0);
}

.dash-content .dash-list .error .bot-actions button:hover {
    background: rgb(55, 0, 0);
}

.dash-content .dash-list .error .bot-actions form.delete button:hover {
    background: #531b1b;
} 

.dash-content .dash-list .error .bot-actions form.edit {
    border-left: none;
    border-radius: 0;
}

.dash-content .dash-list .error .bot-actions form.delete {
    border-radius: 0;
}

.dash-content .dash-list .error .bot-actions form:first-child {
    border-right: 0;
    border-radius: 3px 0px 0px 3px;
}

.dash-content .dash-list .error .bot-actions form:last-child {
    border-left: 0;
    border-radius: 0px 3px 3px 0px;
}