.manage-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 30px;
}

.manage-root .manage-content {
    margin-top: 50px;
    width: clamp(350px, 90%, 800px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.manage-root .manage-content .manage-header {
    background: rgb(0, 30, 60);
    width: 100%;
    border-radius: 10px;
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    border: 1px solid rgb(19, 47, 76);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.manage-root .manage-content .manage-header h2 {
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    font-weight: bold;
    color: white;
    margin: 5px;
}

.manage-root .manage-content .manage-header .manage-tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.manage-root .manage-content .manage-header .manage-tabs button {
    text-decoration: none;
    color: white;
    font-size: clamp(0.8rem, 1.5vw, 1.0rem);
    margin: 0 5px;
    padding: 5px 10px;
    outline: none;
    border: none;
    background: transparent;
}

.manage-root .manage-content .manage-header .manage-tabs button.active {
    background: rgb(0, 49, 99);
    border: 1px solid rgb(19, 47, 76);
    border-radius: 5px;
    transition: background .25s;
}

.manage-root .manage-content .manage-body {
    width: 100%;
}

.manage-root .manage-content .manage-body .body-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.manage-root .manage-content .manage-body .body-dashboard .category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

.manage-root .manage-content .manage-body .body-dashboard .category .title {
    background: rgb(0, 30, 60);
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(19, 47, 76);
    padding: 5px;
}

.manage-root .manage-content .manage-body .body-dashboard .category .title h2 {
    font-size: clamp(1.3rem, 2.5vw, 1.7rem);
    font-weight: bold;
    color: white;
    margin: 5px;
}

.manage-root .manage-content .manage-body .body-dashboard .category .title h2 span {
    color: #1976d2;
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-left: 5px;
}

.manage-root .manage-content .manage-body .body-dashboard .category .content {
    background-color: rgb(15 28 42);
    border: 1px solid rgba(255, 255, 255, .1);
    width: 100%;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body-dashboard .category .content form {
    width: 100%;
}

.body-dashboard .category .content form button {
    width: 100%;
    outline: none;
    border: none;
    background: rgba(0, 49, 99, .3);
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    color: white;
    border: 1px solid rgb(0, 34, 97);
    transition: background .25s;
}

.body-dashboard .category .content form button i {
    margin-left: 5px;
}

.body-dashboard .category .content form button:hover {
    background: rgba(0, 49, 99, .6);
}

.body-dashboard .category .content form button.error {
    border: 1px solid rgb(97, 0, 0);
    background: rgb(60, 0, 0);
    transition: background .25s;
}

.body-dashboard .category .content form button.error:hover {
    background: rgb(70, 0, 0);
}

.body-dashboard .category .content h3 {
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    color: white;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    background: rgba(0, 49, 99, .3);
    border: 1px solid rgb(0, 34, 97);
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.body-dashboard .category .content h3 span:not(.spinner-border) {
    width: 65%;
    color: #17acf1;
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-left: 5px;
    background: rgb(0, 42, 97);
    border-radius: 5px;
    border-left: 1px solid rgb(0, 34, 97);
    padding: 5px;
}

.body-dashboard .category .content form.input-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.body-dashboard .category .content form.input-button button {
    border-left: 0;
    border-radius: 0px 5px 5px 0px;
}

.body-dashboard .category .content form.input-button input {
    outline: none;
    border: 1px solid rgb(0, 34, 97);
    padding: 5px;
    background: rgba(0, 49, 99, .3);
    border-radius: 3px 0px 0px 3px;
    color: white;
    width: 15%;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.btns button #new:after {
    content: ' Create';
}

.btns button #ref:after {
    content: ' Refresh';
}

@media screen and (max-width: 550px) {
    .btns button #new:after {
        content: '';
    }
    
    .btns button #ref:after {
        content: '';
    }
}

.manage-commands .category .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.manage-commands .category .title .btns button {
    border: none;
    background: transparent;
    outline: none;
    padding: 0;
    margin-right: 8px;
    color: white;
}

.manage-commands .category .content .command-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background:rgb(8, 17, 26);
    border-radius: 5px;
    margin: 5px;
    padding: 5px 5px;
}

.manage-commands .category .content .command-card .actions {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 40%;
}

.manage-commands .category .content .command-card .actions button {
    border: 0;
    outline: none;
    background:rgb(0, 21, 61);
    border-radius: 0px;
    color: white;
    border: 1px solid rgb(0, 34, 97);
    padding: 5px 10px;
    transition: background .25s;
}

.manage-commands .category .content .command-card .actions button:hover {
    background: rgb(0, 34, 97);
}

.manage-commands .category .content .command-card .actions button:first-child {
    border-right: none;
    border-radius: 3px 0px 0px 3px;
    background:rgb(70, 0, 0);
    border-color:rgb(97, 0, 0);
}

.manage-commands .category .content .command-card .actions button:last-child {
    border-radius: 0px 3px 3px 0px;
    border-left: 0;
    margin-right: 10px;
}

.manage-commands .category .content .command-card .header {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 60%;
    padding-left: 5px;
}

.manage-commands .category .content .command-card .header h3 {
    color: white;
    padding: 0;
    background: transparent;
    border: 0;
}

.manage-commands .category .content .command-card .header span {
    color: #1976d2;
    font-size: 0.8rem;
    margin-left: 5px;
    background: transparent;
    border: 0;
}