/* .nav-root {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    position: sticky;
    top: 0;
    padding: 0 35px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(15px);
    background: rgba(10, 25, 41, 0.7);
    z-index: 2;
}

.nav-root .nav-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.nav-root .nav-content .nav-header a {
    vertical-align: middle;
    text-decoration: none;
}

.nav-root .nav-content .nav-header h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin: 0;
}

.nav-root .nav-content .nav-header h2 span {
    color: #1976d2;
    font-size: 0.8rem;
    font-weight: normal;
    text-transform: uppercase;
    margin-left: 5px;
}

.nav-root .nav-content .nav-links .auth {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.nav-root .nav-content .nav-links .auth a {
    text-decoration: none;
    color: #fff;
    font-size: .9rem;
}

.nav-root .nav-content .nav-links .auth a[href="/logout"], a[href="/auth/discord"] {
    background: rgba(10, 25, 45, 1);
    border: 1px solid rgb(19, 47, 76);
    color: rgb(102, 178, 255);
    padding: 8px 10px;
    border-radius: 2px;
    transition: background .35s;
}

.nav-root .nav-content .nav-links .auth a[href="/settings"] {
    background: rgba(10, 25, 45, 1);
    border: 1px solid rgb(19, 47, 76);
    color: rgb(102, 178, 255);
    padding: 8px 13px;
    border-radius: 2px;
    margin-left: 5px;
    margin-right: 15px;
    transition: background .35s;
}

.nav-root .nav-content .nav-links .auth a:not(a[href="/dashboard"]):hover {
    background: rgba(10, 25, 60, 1);
}

.nav-root .nav-content .nav-links .auth .avatar {
    border-radius: 5px;
    width: 40px;
    height: 40px;
}

.nav-root .nav-content .nav-links .separator {
    width: 1px;
    height: 30px;
    background: rgba(255, 255, 255, 0.4);
    margin: 0 25px 0px 17px;
}

.nav-root .nav-content .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.nav-root .nav-content .nav-links a:not(.auth a) {
    text-decoration: none;
    color: #fff;
    font-size: .9rem;
    margin: 0px 8px;
    background: rgba(10, 25, 55, 1);
    padding: 5px 10px;
    border-radius: 5px;
    color:rgb(102, 178, 255);
    border: 1px solid transparent;
    transition: background .5s;
    width: 85px;
    text-align: center;
    border: 1px solid rgba(10, 25, 65, 1);
}

.nav-root .nav-content .nav-links a:not(.auth a):hover {
    background: transparent;
    
}

.nav-root .nav-content .nav-links .auth a[href="/logout"]:after {
    content: ' Logout';
}

.nav-root .nav-content .nav-links a[href="/"]:after {
    content: ' Home';
}

.nav-root .nav-content .nav-links a[href="/about"]:after {
    content: ' About';
}

.nav-root .nav-content .nav-links a[href="/wiki"]:after {
    content: ' Wiki';
}

@media only screen and (max-width: 768px) {
    .nav-root .nav-content .nav-links .auth a[href="/logout"]:after {
        content: ' ';
    }
    .nav-root .nav-content .nav-links .auth a[href="/logout"] {
        text-align: center;
        width: 42.41px;
        margin-left: 10px;
    }

    .nav-root .nav-content .nav-links .auth a[href="/auth/discord"] {
        margin-left: 10px;
    }

    .nav-root .nav-content .nav-links a:not(.nav-root .nav-content .nav-links .auth a) {
        width: 36px;
        margin: 0 3px;
    }

    .nav-root .nav-content .nav-links a:not(.nav-root .nav-content .nav-links .auth a):hover {
        color: white;
    }

    .nav-root .nav-content .nav-links .separator {
        display: none;
    }

    .nav-root .nav-content .nav-links a[href="/"]:after {
        content: '';
    }
    
    .nav-root .nav-content .nav-links a[href="/about"]:after {
        content: '';
    }
    
    .nav-root .nav-content .nav-links a[href="/wiki"]:after {
        content: '';
    }

    .nav-root {
        padding: 0 15px;
    }
    .nav-root .nav-content .nav-header a h2 {
        font-size: 1.3rem;
    }
    .nav-root .nav-content .nav-header a h2 span {
        display: none;
    }
} */