@media only screen and (max-width: 1160px) {
    .entire .dashboard {
        flex-direction: column;
    }

    .entire .dashboard .right-columns {
        padding: 0;
        margin-top: 25px;
        width: 380px;
    }

    .entire .dashboard .right-columns .main-panel {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 690px) {

    .entire .dashboard .columns .share button:nth-child(1) {
        width: 85%;
    }

    .entire .dashboard .right-columns {
        width: 240px;
    }

    .left-nav {
        width: 70px;
    }

    .left-nav .content {
        padding: 5px;
    }

    .left-nav .content #new-bot {
        justify-content: center;
    }

    .left-nav .content .centered button {
        text-align: center;
        width: 100%;
    }

    .left-nav .content .others button {
        justify-content: center;
    }

    .left-nav .content .centered .bots .bot {
        padding: 0 10px;
        width: 100%;
        justify-content: center;
        height: 60px;
    }

    .left-nav .content .centered .bots .bot img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }

    .left-nav .content .centered .bots .bot h4 {
        display: none;
    }

    .entire {
        left: 70px;
    }

    .left-nav .content .others .userinfo .main {
        width: 100%;
        justify-content: center;
    }

    .left-nav .content .others .userinfo .main .center {
        display: none;
    }

    .left-nav .content .others .userinfo i {
        display: none;
    }

    .top-nav .title {
        width: 60px;
    }

    .top-nav .title h2 {
        display: none;
    }

    .entire .dashboard .columns .bot-info .col {
        margin-left: 0;
    }

    .entire .dashboard .columns .bot-info img {
        display: none;
    }

    .entire .dashboard .columns .bot-info {
        justify-content: center;
        width: 240px;
    }

    .entire .dashboard .columns .share {
        margin-left: 0;
        width: 240px;
    }
}